/*#content {*/
  /*display: block;*/
  /*width: 100%;*/
  /*background: #fff;*/
  /*padding: 25px 20px;*/
  /*padding-bottom: 35px;*/
  /*-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;*/
  /*-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;*/
  /*box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;*/
/*}*/



/** modal window styles **/
#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}


#loginmodal,#loginmodal2,#furniture_modal {
  width:100%;
  height:100%;
  padding: 0.5rem 0.5rem;
  background:rgba(0,0,0,0.4);
  color:#fff;
  overflow: auto;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
#house_type{
  width:100%;
  background: #f3f6fa;
  /*-webkit-border-radius: 6px;*/
  /*-moz-border-radius: 6px;*/
  /*border-radius: 6px;*/
  /*-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);*/
  /*-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);*/
  /*box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);*/
}
/*#loginform label { display: block; font-size: 1.1em; font-weight: bold; color: #7c8291; margin-bottom: 3px; }*/

/*模态框内容样式控制*/
#loginmodal ul li,#furniture_modal ul li{
  width:50%;
  height:3rem;
  line-height: 3rem;
  font-size:1rem;
  text-align: center;
  float:left;
}
#loginmodal2 ul li{
  width:33%;
  height:2rem;
  line-height: 2rem;
  font-size:0.8rem;
  text-align: center;
  float:left;
  padding:0 0.2rem;
  /*border:1px solid #fff;*/
}
#house_type img{
  width:100%;
}